<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>picAndMovieProcess_simpleCode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7FB7B3DE1D40E9AA00E210B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FB7B3F41D40E9AA00E210B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FB7B3FF1D40E9AA00E210B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
