<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Audio</key>
	<dict/>
	<key>Video</key>
	<dict>
		<key>MP4</key>
		<array>
			<string>m4v</string>
			<string>mp4</string>
		</array>
	</dict>
	<key>Picture</key>
	<dict>
		<key>JPG</key>
		<array>
			<string>jpeg</string>
			<string>jpg</string>
		</array>
	</dict>
</dict>
</plist>
